*{
  box-sizing: border-box;
}
#CajaAzul{
  background-color: rgba(56, 115, 188, 1);
  width: 90%;
  height: 100px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaCentral{
  width: 90%;
  height: 400px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaRoja{
  background-color: rgba(179, 53, 50, 1);
  width: 10%;
  height: 100%;
  border: 2px solid black;
  margin: auto;
  float: left;
}
#CajaMorada{
  background-color: rgba(115, 82, 155, 1);
  width: 90%;
  height: 100%;
  border: 2px solid black;
  margin: auto;
  float: left;
}
#CajaInferior{
  width: 90%;
  height: 200px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaNaranjaIzquierda{
  background-color: rgba(222, 121, 34, 1);
  width: 50%;
  height: 100%;
  border: 2px solid black;
  margin: auto;
  float: left;
}
#CajaNaranjaDerecha{
  background-color: rgba(222, 121, 34, 1);
  width: 50%;
  height: 100%;
  border: 2px solid black;
  margin: auto;
  float: left;
}
