*{
  box-sizing: border-box;
}
#CajaAzul{
  background-color: rgba(56, 115, 188, 1);
  width: 90%;
  height: 100px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaRoja{
  background-color: rgba(179, 53, 50, 1);
  width: 90%;
  height: 50px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaMorada{
  background-color: rgba(115, 82, 155, 1);
  width: 90%;
  height: 500px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
#CajaNaranja{
  background-color: rgba(222, 121, 34, 1);
  width: 90%;
  height: 100px;
  border: 2px solid black;
  margin: auto;
  float: none;
}
