*{
  box-sizing: border-box;
}
#CajaAzul{
  background-color: rgba(56, 115, 188, 1);
  width: 75%;
  height: 750px;
  border: 2px solid black;
  margin: auto;
  float: left;
}
#Cajalateral{
  width: 15%;
  height: 750px;
  border: 2px solid black;
  margin:auto;
  float: left;
}
#CajaRoja{
  background-color: rgba(179, 53, 50, 1);
  width: 100%;
  height: 60%;
  border: 2px solid black;
  margin: auto;
}
#CajaMorada{
  background-color: rgba(115, 82, 155, 1);
  width: 100%;
  height: 40%;
  border: 2px solid black;
  margin: auto;
}
